<div class="row full-height login-container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card-login">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-card class="p-2 shadow rounded position-relative">
          <img
            class="logo-responsive"
            src="assets/images/logo.png"
            alt="Logo"
          />
          <mat-card-content>
            <mat-card-title class="text-center">
              <h3>{{ isLogin ? "Login" : "Cadastro" }}</h3>
              <hr />
            </mat-card-title>
            <div class="row">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Usuário</mat-label>
                <input
                  name="user"
                  matInput
                  formControlName="user"
                  maxlength="40"
                />
                <mat-error *ngIf="getForm['user'].invalid">
                  {{ getErrorMessageUser() }}
                </mat-error>
              </mat-form-field>

              <div *ngIf="!isLogin" class="">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Digite o seu email</mat-label>
                  <input
                    matInput
                    name="email"
                    placeholder="email@exemplo.com"
                    formControlName="email"
                    maxlength="90"
                    required
                  />
                  <mat-error *ngIf="getForm['email'].invalid">
                    {{ getErrorMessageEmail() }}
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Senha</mat-label>
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password"
                  maxlength="12"
                  required
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="
                    hidePassword = !hidePassword; $event.preventDefault()
                  "
                  [attr.aria-label]="'hidePassword password'"
                  [attr.aria-pressed]="hidePassword"
                >
                  <mat-icon>{{
                    hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="getForm['password'].invalid">
                  {{ getErrorMessagePassword() }}
                </mat-error>
              </mat-form-field>

              <div *ngIf="!isLogin">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Confirme a senha</mat-label>
                  <input
                    matInput
                    [type]="hidePasswordConfirm ? 'password' : 'text'"
                    formControlName="passwordConfirmation"
                    maxlength="12"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="
                      hidePasswordConfirm = !hidePasswordConfirm;
                      $event.preventDefault()
                    "
                    [attr.aria-label]="'hidePasswordConfirm password'"
                    [attr.aria-pressed]="hidePasswordConfirm"
                  >
                    <mat-icon>{{
                      hidePasswordConfirm ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error *ngIf="getForm['passwordConfirmation'].invalid">
                    {{ getErrorPasswordConfirmation() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>

          <div class="d-flex flex-row-reverse">
            <mat-card-actions>
              <div *ngIf="isLogin">
                <button
                  class="me-2"
                  mat-raised-button
                  color="secondary"
                  (click)="changeIsLogin()"
                  [disabled]="resquestLoading"
                >
                  Cadastre-se
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="resquestLoading"
                >
                  Login
                </button>
              </div>
              <div *ngIf="!isLogin">
                <button
                  mat-raised-button
                  color="secondary"
                  class="me-2"
                  (click)="changeIsLogin()"
                  [disabled]="resquestLoading"
                >
                  Voltar
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="resquestLoading"
                >
                  Confirmar
                </button>
              </div>
            </mat-card-actions>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
