<div *ngIf="shouldShowLayout()">
  <mat-sidenav-container class="full-height">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/">Página Inicial</a>
        <a mat-list-item routerLink="/pagina1">Página 1</a>
        <a mat-list-item routerLink="/pagina2">Página 2</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Agile Sync</span>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
