<div class="row full-height">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-lg-4 col-xl-4">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-content>
            <mat-card-title class="text-center">
              <p style="font-size: 1.8rem">
                {{ isLogin ? "Login" : "Cadastro" }}
              </p>
              <hr />
            </mat-card-title>
            <div class="row">
              <mat-form-field class="full-width-div" appearance="outline">
                <mat-label>Usuário</mat-label>
                <input
                  name="usuario"
                  matInput
                  formControlName="usuario"
                  [ngModel]="usuario"
                />
                <mat-error *ngIf="f['usuario'].invalid">
                  {{ getErrorMessageUsuario() }}
                </mat-error>
              </mat-form-field>

              <div *ngIf="!isLogin" class="">
                <mat-form-field class="full-width-div" appearance="outline">
                  <mat-label>Digite o seu email</mat-label>
                  <input
                    matInput
                    name="email"
                    [ngModel]="email"
                    placeholder="email@exemplo.com"
                    formControlName="email"
                    required
                  />
                  <mat-error *ngIf="f['email'].invalid">
                    {{ getErrorMessageEmail() }}
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field class="full-width-div" appearance="outline">
                <mat-label>Senha</mat-label>
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="senha"
                  required
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'hidePassword password'"
                  [attr.aria-pressed]="hidePassword"
                >
                  <mat-icon>{{
                    hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="f['senha'].invalid">
                  {{ getErrorMessageSenha() }}
                </mat-error>
              </mat-form-field>

              <div *ngIf="!isLogin">
                <mat-form-field class="full-width-div" appearance="outline">
                  <mat-label>Confirme a senha</mat-label>
                  <input
                    matInput
                    [type]="hidePasswordConfirm ? 'password' : 'text'"
                    required
                    formControlName="confirmacaoSenha"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePasswordConfirm = !hidePasswordConfirm"
                    [attr.aria-label]="'hidePasswordConfirm password'"
                    [attr.aria-pressed]="hidePasswordConfirm"
                  >
                    <mat-icon>{{
                      hidePasswordConfirm ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error *ngIf="f['confirmacaoSenha'].invalid">
                    {{ getErrorConfirmacaoSenha() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>

          <div class="d-flex flex-row-reverse">
            <mat-card-actions>
              <div *ngIf="isLogin">
                <button
                  class="me-2"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="resquestLoading"
                >
                  Login
                </button>
                <button
                  mat-raised-button
                  color="secondary"
                  (click)="changeIsLogin()"
                  [disabled]="resquestLoading"
                >
                  Cadastre-se
                </button>
              </div>
              <div *ngIf="!isLogin">
                <button
                  class="me-2"
                  mat-raised-button
                  color="primary"
                  [disabled]="resquestLoading"
                >
                  Confirmar
                </button>
                <button
                  mat-raised-button
                  color="secondary"
                  (click)="changeIsLogin()"
                  [disabled]="resquestLoading"
                >
                  Voltar
                </button>
              </div>
            </mat-card-actions>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
