.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.info-text {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.info-text a {
  text-decoration: none;
}

.info-text a:hover {
  text-decoration: underline;
}

.mat-form-field-from-to {
  min-width: 280px;
}
