@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/theming";
@include mat-core();

$blue-pallete: (
  50: #e1edf6,
  100: #b3d2e8,
  200: #81b4d8,
  300: #4e95c8,
  400: #287fbd,
  500: #0268b1,
  600: #0260aa,
  700: #0155a1,
  800: #014b98,
  900: #013a88,
  A100: #b4ceff,
  A200: #81acff,
  A400: #4e8bff,
  A700: #357aff,
  C1: #024a92,
  C2: #032b7c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
    C1: #ffffff,
    C2: #ffffff,
  ),
);

$custom-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($blue-pallete, C1),
      accent: mat-palette($blue-pallete, C2),
      warning: mat-palette($mat-red),
    ),
    density: 0,
  )
);

@include angular-material-theme($custom-theme);

$primary-color: #024a92;

:root {
  --primary-color: #{$primary-color};
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav {
  width: 250px;
}

@media (max-width: 768px) {
  .mat-sidenav {
    display: none;
  }

  .mat-sidenav-content {
    margin-left: 0;
  }
}

.full-height {
  height: 100vh;
  --bs-gutter-x: 1;
}

.full-width {
  min-width: 100% !important;
}

mat-card {
  margin: 8px;
}

mat-card-title {
  padding: 20px !important;
}

hr {
  // margin: 0;
  color: gray;
}

mat-card-actions {
  padding: 15px !important;
}
